body {
    font-family: 'Poppins', sans-serif;
    background-color: #005252;
    color: whitesmoke;
    margin: 0px;
}

ul {
    background-color: #4EA5A5;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 900;
    margin-top: 0px;
    position: fixed;
    padding-top: 0px;
}

li {
    display: inline-block;
    padding: 15px;
    list-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #AF0F0F;
}

.botones:hover {
    color: #AF0F0F;
}


img {
    display: inline-block;
    width: 180px;
    height: 150px;
    margin: 10px 20px 20px 15px;
    position: relative;
}

.cerrar {
    position: relative;
    margin-top: 310px;
}

.botones {
    display: inline-block;
    padding: 0px 125px 0px 130px;
    margin-left: 10px;
    text-align: center;
    background-color: #4EA5A5;
}

#panda1 {
    margin-left: 10px;
}

.botonesnav {
    margin-left: auto;
    margin-right: auto;
}

.pandanav {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}

.textoParrafo {
    display: inline-block;
    padding: 5px;
    width: 43%;
    margin: 10px;
    text-align: justify;
    font-size: 14px;
}

.texto {
    color: whitesmoke;
    position: relative;
}

.cerrar {
    color: black;
    margin-left: 180px;
}

.marcoFoto {
    display: inline-block;
    background-color: aliceblue;
    width: 210px;
    height: 200px;
    position: relative;
    margin: 80px 20px 20px 30px;
}
